<!DOCTYPE html>
<html>
<title>Welcome to ARTLAND</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:1200px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h1 class="w3-wide"><b>ARTLAND</b></h1>
    <h4 class="w3-wide">Buy art today!</h4>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <form action="http://127.0.0.1:5000/addArt" method="POST">
        <input type="submit" class="w3-bar-item w3-button" value="Add Art">
    </form>
    <br>
    <form action="http://127.0.0.1:5000/userProfile" method="POST">
        <input type="submit" class="w3-bar-item w3-button" value="View Profile">
    </form>
    <br>
    <form action="http://127.0.0.1:5000/showWishlist" method="POST">
        <input type="submit" class="w3-bar-item w3-button" value="View Wishlist">
    </form>
    <br>
    <form action="http://127.0.0.1:5000/logout" method="POST">
        <input type="submit" class="w3-bar-item w3-button" value="Logout">
    </form>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Image header -->
  <div class="w3-display-container w3-container">
    <img src="https://www.tokkoro.com/picsup/3051909-art_artwork_gallery_museum_painting_wall_yale.jpg" alt="Jeans" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
      <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
      <h1 class="w3-hide-small">COLLECTION 2019</h1>
      <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">VIEW OUR COLLECTION</a></p>
    </div>
  </div>

  <div class="w3-container w3-text-grey" id="jeans">
    <p>6 items</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row w3-grayscale">
  <div class="w3-col l3 s6">
<!-- image 1 -->
     <form action="http://127.0.0.1:5000/addArtToWishlist01" method="POST">
        <div class="w3-container">
            <div class="w3-display-container">
              <img src="static/images/01.jpg" width="100%">
              <span class="w3-tag w3-display-topleft">New</span>
              <div class="w3-display-middle w3-display-hover">
                 <input type="submit" class="w3-button w3-black" value="Add Art to Wishlist">
                <!-- <button onclick="window.location.href = 'http://127.0.0.1:5000/addArtToWishlist01';" formmethod="POST" class="w3-button w3-black">Add To Wishlist <i class="fa fa-shopping-cart"></i></button> -->
                <!-- <button class="w3-button w3-black">Add To Cart <i class="fa fa-shopping-cart"></i></button> -->
              </div>
            </div>
            <p align="center"><b>2500/-</b></p>
           </div>
     </form>
     <!-- image 2 -->
     <div class="w3-container">
       <div class="w3-display-container">
         <img src="static/images/02.jpg" width="100%">
         <div class="w3-display-middle w3-display-hover">
          <button class="w3-button w3-black">Add To Wishlist <i class="fa fa-shopping-cart"></i></button>
           <!-- <button class="w3-button w3-black">Add To Cart <i class="fa fa-shopping-cart"></i></button> -->
         </div>
       </div>
       <p align="center"><b>2350/-</b></p>
     </div>
 </div>

 <div class="w3-col l3 s6">
<!-- image 1 -->

     <form action="http://127.0.0.1:5000/addArtToWishlist01" method="POST">
     <div class="w3-container">
       <div class="w3-display-container">
         <img src="static/images/03.jpg" width="100%">
         <span class="w3-tag w3-display-topleft">New</span>
         <div class="w3-display-middle w3-display-hover">
           <button class="w3-button w3-black">Add To Wishlist <i class="fa fa-shopping-cart"></i></button>
           <!-- <button class="w3-button w3-black">Add To Cart <i class="fa fa-shopping-cart"></i></button> -->
         </div>
       </div>
       <p align="center"><b>5500/-</b></p>
     </div>
     </form>
     <!-- image 2 -->
     <div class="w3-container">
       <div class="w3-display-container">
         <img src="static/images/04.jpg" width="100%">
         <div class="w3-display-middle w3-display-hover">
          <button class="w3-button w3-black">Add To Wishlist <i class="fa fa-shopping-cart"></i></button>
          <!-- <button class="w3-button w3-black">Add To Cart <i class="fa fa-shopping-cart"></i></button> -->
         </div>
       </div>
       <p align="center"><b>3000/-</b></p>
     </div>
 </div>

 <div class="w3-col l3 s6">
<!-- image 1 -->
     <div class="w3-container">
       <div class="w3-display-container">
         <img src="static/images/05.jpg" width="100%">
         <span class="w3-tag w3-display-topleft">New</span>
         <div class="w3-display-middle w3-display-hover">
           <button class="w3-button w3-black">Add To Wishlist <i class="fa fa-shopping-cart"></i></button>
           <!-- <button class="w3-button w3-black">Add To Cart <i class="fa fa-shopping-cart"></i></button> -->
         </div>
       </div>
       <p align="center"><b>6600/-</b></p>
     </div>
     <!-- image 2 -->
     <div class="w3-container">
       <div class="w3-display-container">
         <img src="static/images/06.jpg" width="100%">
         <div class="w3-display-middle w3-display-hover">
          <button class="w3-button w3-black">Add To Wishlist <i class="fa fa-shopping-cart"></i></button>
           <!-- <button class="w3-button w3-black">Add To Cart <i class="fa fa-shopping-cart"></i></button> -->
         </div>
       </div>
       <p align="center"><b>3500/-</b></p>
     </div>
 </div>
  </div>

<script>
// Accordion
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>

